UPDATE wp_options SET option_value = replace(option_value, 'old_domain_value', 'new_domain_value') WHERE option_name = 'home' OR option_name = 'siteurl';
UPDATE wp_posts SET guid = replace(guid, 'old_domain_value','new_domain_value');
UPDATE wp_posts SET post_content = replace(post_content, 'old_domain_value', 'new_domain_value');
UPDATE wp_postmeta SET meta_value = replace(meta_value,'old_domain_value','new_domain_value');